

<h1> TinyApp: Where Smaller Size Matters ;) </h1>

<% if(!user){ %>
  <p> Hi Guest! </p>
  <a href="/login">Login</a> or
  <a href="/register">Register</a>
<% }else{ %>
  hi <%= user.email %>
  <form action="/logout" method="POST">
      <button type="logout" value="Logout" class="bg-warning">Logout</button>
  </form>

<% } %>

