<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <h1> Welcome to TinyApp!!! </h1>

    <form method="POST" action="/login">
     Email: <input type="email" name="email" placeholder="blahblah@blah.com" style="width: 200px;" />
      <br />
     Password: <input type="password" name="password" placeholder="****" style="width: 100px;" />
      <br />
      <button type="submit" value="Submit" class="btn btn-default">Login</button>
    </form>

</html>

