<!DOCTYPE html>

<html lang="en">

  <% include partials/_head %>
  <body>
    <header>
      <h1> Welcome to Registration </h1>
    </header>
    <form method="POST" action="/register">
      Enter you Email: <input type="email" name="email" placeholder="blahblah@blah.com" style="width: 200px;" />
      <br />
      Type a Password: <input type="password" name="password" placeholder="****" style="width: 100px;" />
      <br />
      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="\urls\new">Link to Shorten </a>
  </body>
</html>